@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .container {
    @apply w-full p-6 max-w-7xl mx-auto;
  }
  .header-clip-path{
    clip-path: polygon(0 0, 100% 0, 93% 100%, 7% 100%);
  }
  .footer-clip-path{
    clip-path: polygon(7% 0, 93% 0, 100% 100%, 0% 100%);
  }
  .diagram-clip-path{
    clip-path: polygon(49% 35%, 84% 31%, 94% 65%, 50% 68%, 14% 64%, 0 22%);
  }

}

